.form__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(237, 237, 237);

  &__email,
  &__password {
    display: block;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
    line-height: 1.7;
    margin: 5px 0;
    border-radius: 5px;
    align-self: flex-end;
  }

  &__email,
  &__password {
    width: 100%;
  }
}
